body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 100px;
  }
  
  .container {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  #centro {
    text-align: center;
  }
  
  input[type="number"],
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .resultado {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;

  }
  
  .resultado p {
    margin: 5px 0;
  }
  